---
import Layout from "../layouts/Layout.astro";
---

<Layout>
<div>
	<img src="/logo-drop-shadow.png" alt="">
	<h2>Press any button</h2>
</div>
</Layout>

<style>
div {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	min-width: 100%;
	flex-direction: column;
	* {
		margin-block: 5rem;
	}
}	
h2 {
	animation: opa 2s ease-in infinite;
}
img {
}
@keyframes opa {
	0% {
		opacity: 1;
	}	
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

</style>
<script>
import openPage from "../helpers/openPage";
import playAudio from "../helpers/playAudio";
const url = "./board";
openPage(document.body, url)
addEventListener("keypress", () => {
	const $a = document.createElement("a");
	$a.style.display = "none";
	$a.href = url;
	document.body.appendChild($a);
	$a.click();
});
await playAudio("/music/menu.mp3", true);




</script>
