---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<div id="bgc"></div>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "audiowide";
		src: url("/fonts/Audiowide-Regular.ttf");
	}

	:root {
		font-family: audiowide;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		--main-color: #00adb5;
		--transparent-main-color: #00adb522;
		--main-contrast: #222831;
		--white-constrast: #eeeeee;
		--black-constrast: #000000;
		--black-constrast-transparent: #00000044;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		height: 100%;
		min-height: 100%;
		min-width: 100%;
		color: var(--white-constrast);
		background-color: var(--black-constrast);
	}
	#bgc {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: radial-gradient(transparent, #222831);
		transition: all 0.3s;
	}
	h1 {
		text-align: center;
	}
</style>
