---
import LanguagePicker from "../components/LanguagePicker.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/kekris/logo.png" />
    <title>kekris</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "audiowide";
    src: url("kekris/fonts/Audiowide-Regular.ttf");
  }

  :root {
    font-family: audiowide;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --main-color: #00adb5;
    --transparent-main-color: #00adb522;
    --main-contrast: #222831;
    --white-constrast: #eeeeee;
    --black-constrast: #000000;
    --black-constrast-transparent: #00000044;
  }

  body {
    background-image: radial-gradient(
      transparent,
      var(--transparent-main-color)
    );
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    color: var(--white-constrast);
    background-color: var(--black-constrast);
    overflow-x: hidden;
  }
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  * {
    z-index: 2 !important;
  }
  h1 {
    text-align: center;
  }
</style>
