---
import LinkButton from "../components/LinkButton.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Layout from "./Layout.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
let url = Astro.url.pathname.split("/");
let returnUrl = url.slice(0, url.length - 1).join("/");
const text = "< " + t("page.return");
---

<Layout>
  <LinkButton text={text} link={returnUrl} />
  <center>
    <div id="wrap">
      <slot />
    </div>
  </center>
</Layout>
<style is:global>
  #wrap {
    width: 80vw;
  }
  p {
    font-size: 18px;
    text-align: justify;
  }
  body {
    padding: 15px;
    height: auto;
    width: 80vw;
  }
  img {
    width: 750px;
    text-align: center;
    display: flex;
    margin: 15px;
    margin-left: calc(50% - 375px);
    box-shadow: 0 0 5px #000000;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  code {
    padding: 5px;
    font-family: monospace;
    font-size: 18px;
    text-align: left;
    display: inline;
  }
  ul {
    font-size: 18px;
  }
  li {
    margin: 15px;
  }
  #link-button {
    position: absolute;
    width: 10vw;
    left: 15px;
    top: 4.5vh;
  }
</style>
